.outer-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 10px;
    grid-column-gap: 10px;
}

.login-form {
    grid-column: 3/7;
    grid-row: 3;
}

.logo {
    grid-column: 4/5;
    grid-row: 2;
}